<div fxLayout="column" fxLayoutGap="15px">
    <div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti sed eligendi dolorem veritatis suscipit
            fugit, in,
            labore rem id perspiciatis quam. Labore aliquid laborum maxime recusandae eius vero, libero consequatur
            aliquam
            obcaecati blanditiis! Commodi nulla vel odio quo dolorem soluta, aperiam aliquid nostrum corrupti vero sequi
            nesciunt, accusantium alias adipisci necessitatibus nemo veniam totam rem doloremque dolore. Labore, aliquam
            quidem.
        </p>
    </div>
    <div>
        <app-users-data-placeholder></app-users-data-placeholder>
    </div>
    <div>
        <button mat-raised-button color="primary" (click)="fetchUsers()">Fetch users!</button>
    </div>
    <div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis vitae ab incidunt minima natus nihil
            nobis dolor,
            ad commodi sequi dignissimos voluptatum quis, tenetur, dolorum animi consequuntur? Blanditiis praesentium ex
            quos
            eveniet deleniti doloribus tempora omnis est possimus, veniam nemo exercitationem quasi voluptate culpa
            temporibus
            porro repudiandae earum? Amet, eveniet!</p>
    </div>
</div>