<div *ngIf="usersAgeCount else loading">
    <div fxLayout="row" fxLayoutAlign="center start" style="margin-left: 6em; margin-right: 6em;">
        <canvas style="width:100%;" baseChart [data]="salesData" [type]="'bar'" [options]="chartOptions">
        </canvas>
    </div>

</div>

<ng-template #loading>
    <div style="margin-left: 6em; margin-right: 6em;">
        <ngx-skeleton-loader count="2" appearance="line" [theme]="{ 'border-radius': '5px', 'height': '8em'  }">
        </ngx-skeleton-loader>
    </div>
</ng-template>